<% if @spotlight.nil? %>
  <h2>No Media to show</h2>
<% else %>
  <h2>Media Spotlight:
    <%= @spotlight.title %> by 
    <%= @spotlight.creator %>
  </h2>
  <p>
    <%= @spotlight.votes.count %> votes - 
    <%= @spotlight.description %>
  </p>
<% end %>

<h3>Top Albums <%= @top_albums.count %> </h3> 
<ul>
  <% @top_albums.each do |work| %>
  <li>
    <%= link_to work.title, work_path(work) %> by
    <%= work.creator %>
    <%= work.votes.count %> votes
  </li>
  <% end %>
</ul>


<h3>Top Books <%= @top_books.count %> </h3>
<ul>
  <% @top_books.each do |work| %>
  <li>
    <%= link_to work.title, work_path(work) %> by
    <%= work.creator %>
    <%= work.votes.count %> votes
  </li>
  <% end %>
</ul>


<h3>Top Movies <%= @top_movies.count %></h3>
<ul>
  <% @top_movies.each do |work| %>
  <li>
    <%= link_to work.title, work_path(work) %> by
    <%= work.creator %>
    <%= work.votes.count %> votes
  </li>
  <% end %>
</ul>
