<h1>Edit this <%= @work.category %></h1>
<%= form_with model: @work do |f| %>
  <%= f.label :category %>
  <%= f.select :category, ['movie', 'book', 'album'] %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>

  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>