<h2>List of Works</h2>

<section class='media-table'>
  <h4>Albums</h4>
  <table class='table'>
    <thead>
      <tr>
        <th width='80'>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width='100'>Published</th>
        <th width='100'>Upvote</th>
      </tr>
    </thead>
    <% @albums.each do |work| %>
    <tbody>
      <tr>
        <td><%= work.votes.count%></td>
        <td><%= link_to work.title, work_path(work) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", votes_create_path(vote: {work_id: work}), class: 'btn btn-primary' %></td>
      </tr>
      </tbody>
    <% end %>
  </table>
</section>


<section class='media-table'>
  <h4>Books</h4>
  <table class='table'>
    <thead>
      <tr>
        <th width='80'>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width='100'>Published</th>
        <th width='100'>Upvote</th>
      </tr>
    </thead>
    <% @books.each do |work| %>
    <tbody>
      <tr>
        <td><%= work.votes.count%></td>
        <td><%= link_to work.title, work_path(work) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", votes_create_path(vote: {work_id: work}), class: 'btn btn-primary' %></td>
      </tr>
      </tbody>
    <% end %>
  </table>
</section>

<section class='media-table'>
  <h4>Movies</h4>
  <table class='table'>
    <thead>
      <tr>
        <th width='80'>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width='100'>Published</th>
        <th width='100'>Upvote</th>
      </tr>
    </thead>
    <% @movies.each do |work| %>
    <tbody>
      <tr>
        <td><%= work.votes.count%></td>
        <td><%= link_to work.title, work_path(work) %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", votes_create_path(vote: {work_id: work.id}), class: 'btn btn-primary' %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</section>

<%= link_to "View top media", root_path, class: 'btn btn-secondary' %>
<%= link_to "Add a new work", new_work_path, class: 'btn btn-primary' %>