<h1>List of Works</h1>

<h3>Albums</h3>
<ul>
  <% @albums.each do |work| %>
  <li>
      <%= work.votes.count%>
      <%= link_to work.title, work_path(work) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= work.description %>
      <%= work.id %>
      <%= link_to "Upvote", votes_create_path(vote: {work_id: work}) %>
    </li>
  <% end %>
</ul>

<h3>Books</h3>
<ul>
  <% @books.each do |work| %>
  <li>
      <%= work.votes.count%>
      <%= link_to work.title, work_path(work) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= work.description %>
      <%= link_to "Upvote", votes_create_path(vote: {work_id: work}) %>
    </li>
  <% end %>
</ul>

<h3>Movies</h3>
<ul>
  <% @movies.each do |work| %>
  <li>
      <%= work.votes.count%>
      <%= link_to work.title, work_path(work) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= work.description %>
      <%= link_to "Upvote", votes_create_path(vote: {work_id: work}) %>
    </li>
  <% end %>
</ul>

<%= link_to "View Top Media", root_path %>
<%= link_to "New Media", new_work_path %>