<h1>List of Works</h1>

<%= link_to "New Media", new_work_path %>

<h3>Albums</h3>
<% @albums.each do |work| %>
  <%= link_to work.title, work_path(work) %>
  <%= work.creator %>
  <%= work.publication_year %>
  <%= work.description %>
<% end %>

<h3>Books</h3>
<% @books.each do |work| %>
  <%= link_to work.title, work_path(work) %>
  <%= work.creator %>
  <%= work.publication_year %>
  <%= work.description %>
<% end %>

<h3>Movies</h3>
<% @movies.each do |work| %>
  <%= link_to work.title, work_path(work) %>
  <%= work.creator %>
  <%= work.publication_year %>
  <%= work.description %>
<% end %>

