<h1>Showing the title <%= @work.title %></h1>

<p>Created By: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>
<%= @work.description %>

<%= link_to "Back to Media Ranks", works_path %>
<%= link_to "Edit", edit_work_path(@work) %>
<%= link_to "Delete", work_path(@work), method: :delete %>
