<nav>
  <%= link_to "View top media", root_path %>
  <%= link_to "View all media", works_path %>
  <%= link_to "Add a new work", new_work_path %>
  <%= link_to "View all users", root_path %>
  <%= button_to "Log in", login_path %>
</nav>