<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
      <%= render 'layouts/header' %>
    </header>


    <section class="alert_container">
      <% flash.each do |type, message| %>
        <% next if type == 'details' %>
        <div class="alert alert-<%= type %>">
          <%= message %>
          <% if flash[:details] %>
            <ul>
            <% flash[:details].each do |msg| %>
              <li><%= msg[0] %>: <%= msg[1].join(', ') %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
