<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app-header__header">
      <%= render 'layouts/header' %>
    </header>

    <section class="flash-msg__section">
      <% flash.each do |name, message| %>
        <strong class="<%= name %>">
          <%= message %>
          <% if !@work.nil? && @work.errors.any? %>
          <ul>
            <% @work.errors.each do |error, message| %>
            <li>
              <strong><%= error.capitalize %></strong>
              <%= message %>
            </li>
            <% end %>
          <% end %>
          </ul>
        </strong>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
